
.owl-item.active.center ul.list-hidden li {
    font-weight: 100;
    font-size: 16px;
}

// .owl-item.active.center ul.list-hidden, .owl-item h3 {
//     display: none;
// }

.container{
    .row{
        position: relative;
        .fix_content{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 50%;
        }
    }
}
// end A- >  CSS
@media screen and (max-width: 575px) {
    .section_hero {
        padding: 279px 0;
    }
    .section_hero:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        /* transform: translateX(50%) !important; */
        width: 100%;
        /* height: auto; */
        min-height: 555px;
        max-height: 500px;
        transform: scale(1.8);
    }
    .comprehensive_coverage_section .main-title {
      font-size: 35px;
  }
    .connter_wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    h1.main_title {
        font-size: 56px;
    }
    .section_hero .max-w {
        margin: 24px 0 0px;
    }
    .section_hero  .col-md-8{
        padding: 0 24px;
    }
    .hero_counter{
        background-color: #12131C;
        margin-left: -24px;
        margin-right: -24px;
        padding: 80px 24px;
        h2{
            font-size: 36px;
            line-height: 52px;
            margin-bottom: 52px;
        }
       .connter_wrap .count_item + .count_item {
            margin-left: 0px;
            margin-bottom: 60px;
        }
        .hero_counter .connter_wrap span {
            font-size: 40px;
        }
    }
}

