/*--------------*\
    Hero Section
\*--------------*/
.section_hero{
    background-image: url('/assets/images/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    // padding: 120px 0;
    p{
        color: white;
       font-size: 18px;
        font-weight: 400;
        @include grid-xxl {
            font-size: 26px; 
          }
    }
}

.section_demo{
    background-image: url('/assets/images/demo-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 312px;
    padding-bottom: 120px;
}
.connter_wrap{
    // background: tomato;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    justify-content:space-between;
    margin-top: 52px;
    // padding: 50px;
    width: 100%;
  span{
    font-size: 35px;
    color: $brand;
    font-weight: 500;
  }
  p{
    font-size: 12px;
    font-weight: 400;
  }
  .count_item{
    + .count_item{
        margin-left: 20px;
    }
  }
 }






















.section_contact {
    background-color: #313238;
    padding-top: 80px;
    padding-bottom: 60px;
    .contact_form{
        width: 100%;
        input{
            width: 100%;
            height: 56px;
            background-color: #44444a;
            border: 0;
            outline: 0;
            margin-top: 10px;
            border-radius: 8px;
            padding: 6px 12px 6px 12px;
        }
        textarea{
            width: 100%;
            min-height: 200px;
            background-color: #44444a;
            border: 0;
            outline: 0;
            margin-top: 10px;
            border-radius: 8px;
            padding: 6px 12px 6px 12px;
        }
      }
    .contact_info{
        margin-bottom: 50px;
        padding-left: 40px;
        h5{
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
            color: white;
        }
        a{
            font-size: 18px;
            font-weight: 400;
            color: white;
        }
       }
  }
  
//   .contact-heading h1 {
//     color: white;
//     font-family: poppins;
//     font-weight: 700;
//     font-size: 70px;
//     line-height: 84px;
//     font-family: "Poppins", sans-serif;
//   }
  
//   .contact-subHeading p {
//     color: white;
//     font-family: "Poppins", sans-serif;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 32.4px;
//     opacity: 70%;
//   }


.section_demo{
    .nav-tabs{
        border-bottom: none;
        position: relative;
        left: 50%;
        background-color: rgba(66,70,82,0.5);
        width: 167px;
        border-radius: 50px;
        padding: 7px;
        li{
            button{
                i{
                    font-size: 13px;
                }
            }
        }
    
      }
}

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #02A1D3;
    border: none;
    border-radius: 36px;
    padding: 4px 19px;
  i{
color: white;
    }
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    border: none;
    border-radius: 36px;
    padding: 4px 19px;
    i{
        color: #424652;
      }
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    border: none;
  }