@charset "UTF-8";
/*
           Table OF Content


0 - Plugins
    a - bootstrap
    b - fontawesome
1 - Abstracts
    a - variables
    b - extends
    c - css3-mixins
    d - mixins
    e - loops
2 - Base
    a - animations
    b - bg-colors
    c - text-helpers
    d - mix-helpers
    e - base
3 - Components
    a - icons
    b - boxes
    c - buttons
    d - carousel
    e - forms
    f - lists
    g - modals
    h - tabs
4 - Layouts
    a - footer
    b - header
5 - section
    a - hero
6 - Pages
    a - home
*/
/*--------------*\
    Animations
\*--------------*/
/*--------------*\
    bg-color
\*--------------*/
/*--------------*\
    text-helpers
\*--------------*/
.text-underline {
  text-decoration: underline !important;
}

.txt-black {
  color: #000 !important;
}

/*--------------*\
    Mix-Helpers
\*--------------*/
.box-glow {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.separator-with-text {
  display: flex;
  align-items: center;
}
.separator-with-text:before, .separator-with-text:after {
  flex: 1;
  width: 100%;
  content: "";
  display: inline-block;
}
.separator-with-text:before {
  margin-right: 20px;
}
.separator-with-text:after {
  margin-left: 20px;
}

.row-7 {
  margin-left: -7px;
  margin-right: -7px;
}
.row-7 > div[class^=col-] {
  padding-left: 7px;
  padding-right: 7px;
}

@media only screen and (max-width: 767.98px) {
  .mobile-no-bg {
    background: none !important;
  }
}

.social-list {
  list-style: none;
}
.social-list li {
  display: inline-block;
}
.social-list li:not(:last-child) {
  margin-right: 20px;
}
.social-list li a {
  font-size: 22px;
  text-align: center;
}
.social-list li a i {
  color: rgba(255, 255, 255, 0.5);
}
.social-list li a:hover i.fa-facebook {
  color: #3b5998;
}
.social-list li a:hover i.fa-facebook-f {
  color: #3b5998;
}
.social-list li a:hover i.fa-twitter {
  color: #1da1f2;
}
.social-list li a:hover i.fa-linkedin {
  color: #0077b5;
}
.social-list li a:hover i.fa-youtube-play {
  color: #cd201f;
}

/*--------------*\
    Icon Section
\*--------------*/
.dot:before {
  content: "•";
}

i[class*=h-icon-] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-facebook {
  display: inline-block;
  background-image: url("../images/icons/facebook.svg");
  width: 10px;
  height: 10px;
}

.icon-twitter {
  display: inline-block;
  background-image: url("../images/icons/twitter.png");
  width: 20px;
  height: 20px;
}

.icon-linkedin {
  display: inline-block;
  background-image: url("../images/icons/linkedin.svg");
}

/*--------------*\
    Base
\*--------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgba(21, 21, 21, 0.5);
  font-weight: 400;
  overflow-x: hidden;
}

@media only screen and (min-width: 87em) {
  .container {
    max-width: 1720px;
  }
}

h1, h2, h3, h4, h5, h5, h6 {
  color: #151515;
}

@media only screen and (min-width: 87em) {
  h1 {
    font-size: 70px;
  }
}

h1.main_title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  color: white;
}
@media only screen and (min-width: 87em) {
  h1.main_title {
    font-size: 146px;
    line-height: 140px;
  }
}

.brand {
  color: #3F97EB;
}

a {
  text-decoration: none;
}

.flex-align {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.h-100 {
  height: 100%;
}

.text_green {
  color: #93C246;
}

/*--------------*\
    Boxes Section
\*--------------*/
/*-----------------*\
    Button Section
\*-----------------*/
.btn:hover, .btn:focus {
  outline: none;
}

.btn_green_fill {
  font-family: "Poppins", sans-serif;
  background-color: #92C53E;
  border: 1px solid #92C53E;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 20px;
  transition: 0.1s ease-in-out;
}
.btn_green_fill:hover {
  padding: 4px 16px;
  font-size: 16px;
  color: #ffffff;
  transition: 0.1s ease-in-out;
}

.btn_blue_fill {
  font-family: "Poppins", sans-serif;
  background-color: #02A1D3;
  border: 1px solid #02A1D3;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  padding: 20px 70px;
  transition: 0.1s ease-in-out;
}
.btn_blue_fill:hover {
  font-size: 16px;
  color: #ffffff;
  padding: 19px 64px;
  transition: 0.1s ease-in-out;
}

.btn_blue_transparent {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: 1px solid #02A1D3;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  padding: 20px 70px;
  transition: 0.1s ease-in-out;
}
.btn_blue_transparent:hover {
  font-size: 16px;
  color: #ffffff;
  padding: 19px 64px;
  transition: 0.1s ease-in-out;
}

.btn_grey_fill {
  font-family: "Poppins", sans-serif;
  background-color: #D7D7D7;
  border: 1px solid #D7D7D7;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 20px;
  transition: 0.1s ease-in-out;
}
.btn_grey_fill:hover {
  color: #ffffff;
  font-size: 13px;
  padding: 3px 16px;
  transition: 0.1s ease-in-out;
}

/*------------------*\
    Carousel Section
\*------------------*/
/*--------------*\
    Form Section
\*--------------*/
/*--------------*\
    Lists Section
\*--------------*/
/*--------------*\
    Modals Section
\*--------------*/
/*--------------*\
    Tabs Section
\*--------------*/
/*--------------*\
    header Section
\*--------------*/
header {
  background-color: #0C0D11;
}
header .navbar-brand {
  max-width: 132px;
  width: 132px;
}
header .navbar-brand img {
  width: 100%;
}
header .navbar-nav li a {
  font-size: 14px;
  color: white;
  font-weight: 400;
}
header .navbar-nav li + li {
  margin-left: 20px;
}
header .navbar-nav li:nth-child(4) {
  margin-right: 124px;
}

/*--------------*\
    Footer Section
\*--------------*/
footer {
  background-color: rgb(12, 13, 17);
  padding: 7px 0;
}
footer P {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-bottom: 0;
}

.social_link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.social_link a {
  width: 26px;
  height: 26px;
  border-radius: 40px;
  background-color: rgba(66, 70, 82, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_link a + a {
  margin-left: 20px;
}
.social_link a i {
  font-size: 14px;
  color: white;
}

/*--------------*\
    Hero Section
\*--------------*/
.section_hero {
  background-image: url("/assets/images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.section_hero p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (min-width: 87em) {
  .section_hero p {
    font-size: 26px;
  }
}

.section_demo {
  background-image: url("/assets/images/demo-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 312px;
  padding-bottom: 120px;
}

.connter_wrap {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  width: 100%;
}
.connter_wrap span {
  font-size: 35px;
  color: #3F97EB;
  font-weight: 500;
}
.connter_wrap p {
  font-size: 12px;
  font-weight: 400;
}
.connter_wrap .count_item + .count_item {
  margin-left: 20px;
}

.section_contact {
  background-color: #313238;
  padding-top: 80px;
  padding-bottom: 60px;
}
.section_contact .contact_form {
  width: 100%;
}
.section_contact .contact_form input {
  width: 100%;
  height: 56px;
  background-color: #44444a;
  border: 0;
  outline: 0;
  margin-top: 10px;
  border-radius: 8px;
  padding: 6px 12px 6px 12px;
}
.section_contact .contact_form textarea {
  width: 100%;
  min-height: 200px;
  background-color: #44444a;
  border: 0;
  outline: 0;
  margin-top: 10px;
  border-radius: 8px;
  padding: 6px 12px 6px 12px;
}
.section_contact .contact_info {
  margin-bottom: 50px;
  padding-left: 40px;
}
.section_contact .contact_info h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: white;
}
.section_contact .contact_info a {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.section_demo .nav-tabs {
  border-bottom: none;
  position: relative;
  left: 50%;
  background-color: rgba(66, 70, 82, 0.5);
  width: 167px;
  border-radius: 50px;
  padding: 7px;
}
.section_demo .nav-tabs li button i {
  font-size: 13px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #02A1D3;
  border: none;
  border-radius: 36px;
  padding: 4px 19px;
}
.nav-tabs .nav-item.show .nav-link i, .nav-tabs .nav-link.active i {
  color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  border: none;
  border-radius: 36px;
  padding: 4px 19px;
}
.nav-tabs .nav-item.show .nav-link i, .nav-tabs .nav-link i {
  color: #424652;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
  border: none;
}

/*--------------*\
    Home Page
\*--------------*/
.comprehensive_coverage_section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.comprehensive_coverage_section .main-title {
  font-size: 70px;
  padding-top: 120px;
}
.comprehensive_coverage_section .sub-title {
  padding: 20px 0px 120px 0px;
  max-width: 640px;
}
.comprehensive_coverage_section .comprehensive_coverage_slider {
  margin-bottom: 100px;
}
.comprehensive_coverage_section .list-hidden {
  display: none;
}
.comprehensive_coverage_section .owl-item > div {
  z-index: 0;
  position: relative;
  cursor: pointer;
  margin: 6% 8%;
  max-width: 300px;
  min-height: 335px;
  border-radius: 12px;
  color: white;
  align-content: end;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}
.comprehensive_coverage_section .owl-item > div .bg_img {
  position: absolute;
}
.comprehensive_coverage_section .owl-item > div h3 {
  padding: 0 0 0 10px;
  color: white;
  z-index: 3;
}
.comprehensive_coverage_section .owl-item.center > div {
  cursor: auto;
  margin: 0;
  max-width: 350px;
  min-height: 400px;
}
.comprehensive_coverage_section .owl-item.center > div .list-hidden {
  display: block;
  z-index: 3;
}
.comprehensive_coverage_section .owl-item:not(.center) > div:hover {
  opacity: 0.75;
}

/*# sourceMappingURL=main.css.map */
