/*--------------*\
    Home Page
\*--------------*/
.comprehensive_coverage_section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .list-hidden{
        display: none;
      }
    .owl-item > div {
      cursor: pointer;
      margin: 6% 8%;
      max-width: 300px;
      min-height: 335px;
      border-radius: 12px;
      color: white;
      align-content: end;
      display: flex;
      flex-wrap: wrap;
      h3{
        padding: 0 0 0 29px;
        color: white;
      }
      align-items: end;
    }
    .owl-item.center > div {
      cursor: auto;
      margin: 0;
      max-width: 350px;
      min-height: 400px;
      .list-hidden{
        display: block;
      }
    }
    .owl-item:not(.center) > div:hover {
      opacity: .75;
      
    }
}
